{% extends "base.html" %}

{% block content %}

{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img id="logo" width="190" src="  {% static 'img/logonegro.png' %}" >
    </a>
    <a class="nav-link" href=" {% url 'ventasapp:index' %} ">Movimiento</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_motivos' %} ">Motivo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_productos' %} ">Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_bodegas' %} ">Bodega</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_colores' %} ">Color</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_tallas' %} ">Talla</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_siluetas' %} ">Silueta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_generos' %} ">Género</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_materiales' %} ">Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:detalle_disenos' %} ">Diseño</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ventasapp:listado_clientes' %}">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'ventasapp:importacion' %} ">Importar</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item"  style="float:right;">
                <a class="nav-link" href=" {% url 'ventasapp:logOut' %} ">{{ user.username }} Salir <i class="fas fa-user-plus"></i></a>
            </li>
        </ul>
    </div>
</nav>

{% if messages %}
{% for message in messages %}
<ul >
    <li {% if message.tags %} 
    class="alert alert-{%if message.tags == 'error' %}danger{% else %}{{ message.tags }} {%endif%}  alert-dismissible fade show"{% endif %} role="alert">{{ message }} </li>
</ul>
{% endfor %}

{% endif %}
{% endblock content %}
