{% extends "base.html" %}

{% block content %}

<div class="container">
    <h3 class="text-secondary">Adicionar {{ titulo }}</h3>
    <hr> 
    <div class="form-control">  
    <form action="" method="POST" class="form-horizontal">
            {% csrf_token %}
            
                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Género</label>
                    {{form.genero}}
                </div>

                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Edad</label>
                        {{form.edad}}
                </div>

                <div  class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Motivo</label>
                        {{form.motivo}}
                </div>

                <div  class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Producto</label>
                        {{form.producto}}
                </div>

                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Material</label>
                        {{form.material}}
                </div>

                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Diseño</label>
                        {{form.diseno}}
                </div>

                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Color</label>
                        {{form.color}}
                </div>

                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Talla</label>
                        {{form.talla}}
                </div>

                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Silueta</label>
                        {{form.silueta}}
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="form-control bg-danger text-white text-center">
                        <b>Orden: Producto/Material/Color/Diseño/Silueta/Talla</b>
                    </span>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <label class="input-group-text">Observación</label>
                        {{form.observacion}}
                </div>
                
                <div class="row">
                    <div class="col-4">
                        <button type="submit" 
                                class="btn btn-success">
                                Guardar
                        </button>
                        <button onclick="window.history.back();" 
                                class="btn btn-danger" 
                                type="button">
                                Cancelar
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>
<br>
{% endblock content %}
