{% block content %}

<div class="container">

{% include "modelos/navbar.html" %}
<br>
<h1>Movimientos</h1>

{% if puede_listar %}
<div>
    <form>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <select class="form-select form-select-sm" name="id_motivo" aria-label="Default select example">
                            <option value="" selected>--Selecccionar Motivo--</option>
                            {% for motivo in motivos %}
                                <option value="{{motivo.id}}">{{ motivo.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="form-select form-select-sm" name="id_producto" aria-label="Default select example">
                            <option value="" selected>--Selecccionar Producto--</option>
                            {% for producto in productos %}
                                <option value="{{producto.id}}">{{ producto.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-3">
                        <select class="form-select form-select-sm" name="id_bodega" aria-label="Default select example">
                            <option value="" selected>--Selecccionar Bodega--</option>
                            {% for bodega in bodegas %}
                                <option value="{{bodega.id}}">{{ bodega.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-3">
                        <select class="form-select form-select-sm" name="id_color" aria-label="Default select example">
                            <option value="" selected>--Selecccionar Color--</option>
                            {% for color in colores %}
                                <option value="{{color.id}}">{{ color.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <select class="form-select form-select-sm" name="id_talla" aria-label="Default select example">
                            <option value="" selected>--Selecccionar Talla--</option>
                            {% for talla in tallas %}
                                <option value="{{talla.id}}">{{ talla.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-4">
                        <select class="form-select form-select-sm" name="id_silueta" aria-label="Default select example">
                            <option value="" selected>--Selecccionar Silueta--</option>
                            {% for silueta in siluetas %}
                                <option value="{{silueta.id}}">{{ silueta.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-4">
                        <select class="form-select form-select-sm" name="id_genero" aria-label="Default select example">
                            <option value="" selected>--Selecccionar Género--</option>
                            {% for genero in generos %}
                                <option value="{{genero.id}}">{{ genero.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label class="form-label">Fecha Desde</label>
                                <input type="date" class="form-control" name="fechaDesde"/>
                            </div>
                            <div class="col-4">
                                <label class="form-label">Fecha Hasta</label>
                                <input type="date" class="form-control" name="fechaHasta"/>
                            </div>
                            <div class="col-4">
                                <br>
                                <button type="submit" class="btn btn-primary ">Filtrar</button>
                                <br>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </form>
</div>
<br>
{% endif %}
{% if puede_adicionar %}
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary  btn-sm" onclick=" location.href='{% url 'ventasapp:crear_venta_no_realizada' %}'">
            Adicionar
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-success  btn-sm" onclick=" location.href='{% url 'ventasapp:exportar' %}'">
            Exportar
        </button>
        <button type="button" class="btn btn-secondary btn-sm" onclick=" location.href='{% url 'ventasapp:listar_movimiento' %}'">
            Listar
        </button>
    </div>
</div>
{% endif %}

{% if mensaje_error %}
<div class="alert alert-danger" role="alert">
    {{ mensaje_error }}
</div>
{% endif %}

<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Género</th>
        <th scope="col">Bodega</th>
        <th scope="col">Producto</th>
        <th scope="col">Motivo</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
        {% if ventas_no_realizadas %}
        {% for venta_no_realizada in ventas_no_realizadas %}
        <tr>
            <td>{{venta_no_realizada.fecha|date:'Y-m-d'}}</td>
            <td>{{venta_no_realizada.genero |default:"--"}}</td>
            <td>{{venta_no_realizada.bodega |default:"--"}}</td>
            <td>{{venta_no_realizada.producto |default:"--"}}</td>
            <td>{{venta_no_realizada.motivo |default:"--"}}</td>
            <td>
                {% if puede_editar %}
                <button type="button" 
                        class="btn btn-warning btn-sm  btn-sm"
                        onclick=" location.href='{% url 'ventasapp:editar' venta_no_realizada.id %}'">
                        Editar
                </button>
                {% endif %}

                {% if puede_eliminar %}
                <a href=" {% url 'ventasapp:eliminar_movimiento' venta_no_realizada.id %}" 
                    class="btn btn-danger  btn-sm"
                    onClick="return confirm('¿Seguro que quieres borrar a {{venta_no_realizada.fecha}} - {{venta_no_realizada.observacion}}?  (Nota: Recuerde, si el registro esta siendo uitlizado no se podrá eliminar)');">
                    Eliminar
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">No se encontraron ventas no realizadas.</td>
        </tr>
        {% endfor %}
    {% else %}
        <p>No se ha registrado movimientos</p>
    {% endif %}
    </tbody>
</table>
      <!-- Aquí va la paginación -->
      <div class="pagination">
        <span class="step-links">
          {% if ventas_no_realizadas.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ ventas_no_realizadas.previous_page_number }}">Anterior</a>
          {% endif %}

          <span class="current-page">{{ ventas_no_realizadas.number }}</span>

          {% if ventas_no_realizadas.has_next %}
            <a href="?page={{ ventas_no_realizadas.next_page_number }}">Siguiente</a>
            <a href="?page={{ ventas_no_realizadas.paginator.num_pages }}">Última &raquo;</a>
          {% endif %}
        </span>
      </div>
</div>

{% endblock content %}
